<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Care Connect</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/consultation.css">
</head>
<body>
    <div class="filterBox">
            <form method="get" action="/apollo">
            <div class="filters">
                Filters<button>Clear All</button>
            </div>
            <div class="consult" style="display: flex; flex-direction: column; margin-bottom: 10px;">
                <p style="font-weight: 600;">Modes of consult</p>
                <label style="margin: 10px 0px;"><input type="checkbox" name="Consult" value="Hospital Visit" style="margin-right: 6px;">Hospital Visit</label>
                <label style="margin: 10px 0px;"><input type="checkbox" name="Consult" value="Online Consult" style="margin-right: 6px;">Online Consult</label>
            </div>
            <div class="experience" style="display: flex; flex-direction: column; margin-bottom: 10px;">
                <p style="font-weight: 600;">Experience(In Years)</p>
                <label style="margin: 10px 0px;"><input type="checkbox" style="margin-right: 6px;" name="experience" value="0-5">0-5</label>
                <label style="margin: 10px 0px;"><input type="checkbox" style="margin-right: 6px;" name="experience" value="6-10">6-10</label>
                <label style="margin: 10px 0px;"><input type="checkbox" style="margin-right: 6px;" name="experience" value="11-16">11-16</label>
                <label style="margin: 10px 0px;"><input type="checkbox" style="margin-right: 6px;" name="experience" value="16+">16+</label>
            </div>
            <div class="fees" style="display: flex; flex-direction: column; margin-bottom: 10px;">
                <p style="font-weight: 600;">Fees(In Rupees)</p>
                <label style="margin: 10px 0px;"><input type="checkbox" style="margin-right: 6px;" name="fees" value="100-500">100-500</label>
                <label style="margin: 10px 0px;"><input type="checkbox" style="margin-right: 6px;" name="fees" value="500-1000">500-1000</label>
                <label style="margin: 10px 0px;"><input type="checkbox" style="margin-right: 6px;" name="fees" value="1000+">1000+</label>
            </div>
            <button type="submit" class="applyFilter">Apply Filter</button>
            </form>
    </div>
    <div class="mainBox">
        <h1>Consult Doctors Online or For Physical Visit: </h1>
        <% for(doctor of doctors){%>
            <div class="doctorBox" style="height: max-content; padding: 10px 30px; border: 1px solid #80808057; border-radius: 10px;">
                <p class="name" style="font-weight: 700; margin: 5px 0px;"><%= doctor.username%></p>
                <p style="font-weight: 500; color: gray; margin: 5px 0px;"><%= doctor.speciality%></p>
                <p class="experience" style="font-weight: 700; color: #6e849e;"><%= doctor.experience%> Years > MBBS</p>
                <span style="font-weight: 600;">₹<%= doctor.fees%><button><%= doctor.consult%></button></span>
            </div>
        <% } %>
    </div>
</body>
</html>